.primeiro-titulo{
    text-align: center;
}

.primeiro-paragrafo{
    text-align: center;
}
 
.segundo-titulo{
    text-align: center;
}

.segundo-paragrafo{
    text-align: center;
}

.terceiro-titulo{
    text-align: center;
}

.terceiro-paragrafo{
    text-align: center;
}

.quarto-titulo{
    text-align: center;
}

.quarto-paragrafo{
    text-align: center;
}

.primeiro-botao{
    text-align: center;
}

.imagemdiv{
    text-align: center;
}
.imagem{
    width: 1000px;
}

.inscreva-se{
    border: none;
    border-radius: 40px;
    color: white;
    background-color: black;
    padding: 15px 32px ;
}

.outros-botoes{
    text-align: center;
}
.button1{
    border: none;
    border-radius: 40px;
    color: white;
    background-color: deepskyblue;
    padding: 15px 32px;
}

.button2{
    border: none;
    border-radius: 40px;
    color: white;
    background-color: deepskyblue;
    padding: 15px 32px;
}
.button3{
    border: none;
    border-radius: 40px;
    color: white;
    background-color: deepskyblue;
    padding: 15px 32px;
}

.button4{
    border: none;
    border-radius: 40px;
    color: white;
    background-color: deepskyblue;
    padding: 15px 32px;
}

.button5{
     border: none;
    border-radius: 40px;
    color: white;
    background-color: deepskyblue;
    padding: 15px 32px;
}

.button6{
    border: none;
    border-radius: 40px;
    color: white;
    background-color: black;
    padding: 15px 32px;
}

.button7{
    border: none;
    border-radius: 40px;
    color: white;
    background-color: black;
    padding: 15px 32px;
}

.ultimo-botao{
    text-align: center;
}